<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}gcousin{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('js/userUpdate.js') }}"></script>
</head>
<body>
{% include 'utils/header.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
